.LikeActive {
    background: url(//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/ca1416084759f059a9597b22ef264ee3.svg) 0 0 no-repeat
}

.CutePetReport {
    background: url(//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/8484ec21b2386bd974c8adba34949322.svg) 0 0 no-repeat
}

.CutePetReportActive {
    background: url(//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/fbef0fff3da0fa26d7885deb463d9493.svg) 0 0 no-repeat
}

.EmotionalMutualAssistance {
    background: url(//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/f208575cf6ceba02ec4ae507ef02c2e0.svg) 0 0 no-repeat
}

.EmotionalMutualAssistanceActive {
    background: url(//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/3f080f85cfccd7d8bba13da9111aa505.svg) 0 0 no-repeat
}

.FinancialExchange {
    background: url(//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/cd76f91915bf5ee31d4d0486b5cc400f.svg) 0 0 no-repeat
}

.FinancialExchangeActive {
    background: url(//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/a59c1c278ccf9677b6e4a4c6708c5dde.svg) 0 0 no-repeat
}

.FishingAtWork {
    background: url(//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/5b5560fa46f35d0572b18d9c219238c0.svg) 0 0 no-repeat
}

.FishingAtWorkActive {
    background: url(//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/8bc5addeab19453555eb96667187267c.svg) 0 0 no-repeat
}

.FunnyJokes {
    background: url(//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/496c93c557d4953e2c8d6508bf4f4d50.svg) 0 0 no-repeat
}

.FunnyJokesActive {
    background: url(//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/1c0919fb6e00983e6a8e67ad08b7c314.svg) 0 0 no-repeat
}

.TechnologyExchange {
    background: url(//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/e108ab3445507ba29a78cedac5dc8f51.svg) 0 0 no-repeat
}

.TechnologyExchangeActive {
    background: url(//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/0088dfa0c04aad6c6d259e926f2d1723.svg) 0 0 no-repeat
}
